<h2>Estimate Reflection: <%= link_to @project.name, {:controller => "project", :action => "show" , :id => @project.id } %></h2>

<% @versions.each do |v| %>
  <div class="reflection_version">
    <h3><%= v.name %></h3>
    <table>
      <tr>
        <th>Issue</th>
        <th>Done &nbsp;</th>
        <th>Estimated &nbsp;</th>
        <th>Spent</th>
        <th>Ratio</th>
      </tr>
      <% @issues.each do |i| %>
        <% if i.fixed_version_id == v.id %>
          <tr>
            <td style="width: 330px;">
            <strong class="<%= i.css_classes %> details" title="<%= i.subject %>"><%= link_to "##{i.id}", {:controller => "issues", :action => "show" , :id => i.id } %> <%= i.subject[0..35] %>
            </strong>
            </td>
            <td>
              <%= i.done_ratio %>%
            </td>
            <td>
              <%if i.estimated_hours > 0 %>
                <%= i.estimated_hours %>h
              <% else %>
                <strong style="color: red;"><%= i.estimated_hours %>h</strong>
              <% end %>
            </td>
            <td>
              <%= round_to(i.spent_hours) %>h
            </td>
            
            <% unit = (240/50).round.to_i %>
            <% if i.estimated_hours > 0 %>
              <% diff_percent =  ( round_to(i.spent_hours) / i.estimated_hours * 100).round.to_i  %>
            <% elsif i.spent_hours == 0 %>
              <% diff_percent =  0  %>
            <% else %>
              <% diff_percent =  999  %>
            <% end %>
            <% difference = i.estimated_hours - round_to(i.spent_hours) %>
            
           
            <td>
            <table class="progress" style="width: 490px;">
              <tr>
                <% if diff_percent == 0 %>   
                    <td style="width: 240px; background-color: #DDD;" class="pos"></td>
                    <td class="center" style="width: 1px; background-color: #DDD;"></td>
                    <td class="difference_neg" style="width: 240px; background-color: #DDD;"></td>                
                <% elsif diff_percent < 85 %>
                  <% v1 =  (240 - ( ( difference + 1) * unit )).to_i %>
                  <% v2 =  240 - v1 %>
                  <td style="width: <%= v1 %>px;" class="pos"><%=difference%> &nbsp;</td>
                  <td class="difference_pos" style="width: <%= v2 %>px; background-color: #33CC66;"></td>                                                                                   
                   <td class="center" style="width: 1px"></td>
                  <td style="width: 240px;">&nbsp;</td>
                <% elsif diff_percent < 115 %>
                  <% if diff_percent < 100 %>
                    <% v1 =  240 - ( ( difference + 1) * unit ) %>
                    <% v2 =  240 - v1 %>
                    <td style="width: <%= v1 %>px;" class="pos"><%=difference%> &nbsp;</td>
                    <td class="difference_pos" style="width: <%= v2 %>px; background-color: #99FF00;"></td>                                                                                   
                    <td class="center" style="width: 1px"></td>
                    <td style="width: 240px;">&nbsp;</td>
                  <% elsif diff_percent == 100 %>
                    <% v1 =  240 - ( 1 * unit ) %>
                    <% v2 =  240 - v1 %>
                    <td style="width: <%= v1 %>px;" class="pos"><%=difference%> &nbsp;</td>
                    <td class="difference_pos" style="width: <%= v2 %>px; background-color: #99FF00;"></td>                                                                                   
                    <td class="center" style="width: 1px"></td>
                    <td style="width: 240px;">&nbsp;</td>
                  <% else %>              
                    <td style="width: 240px;">&nbsp;</td>
                    <% v1 =  ( difference * unit ) + 240  %>
                    <% v2 =  240 - v1 %>                                                                                   
                    <td class="center" style="width: 1px"></td>
                    <td class="difference_neg" style="width: <%= v2 %>px; background-color: yellow;"></td>
                    <td style="width: <%= v1 %>px;" class="neg">&nbsp; <%=difference%></td>
                  <% end %>
                <% else %>
                    <td style="width: 240px;">&nbsp;</td>
                    <% v1 =  ( difference * unit ) + 240 %>
                    <% v2 =  240 - v1 %>                                                                                   
                    <td class="center" style="width: 1px"></td>
                    <td class="difference_neg" style="width: <%= v2 %>px; background-color: red;"></td>
                    <td style="width: <%= v1 %>px;" class="neg">&nbsp; <%=difference%></td>                              
                <% end %>
                  <% if diff_percent == 999 %>
                    ???%
                  <% else %>
                    <%= diff_percent %>%
                  <% end %> 
                </span>
              </tr>
            </table>
            
            </td>
          </tr>
        <% end %>
      <% end %>          
  </table>
  </div>
<% end %>
<div class="reflection_resumee">
  <h3>Total: <%= link_to @project.name, {:controller => "project", :action => "show" , :id => @project.id } %>
</h3>
  <table>
    <tr>
      <th>Project</th>
      <th>Done  &nbsp;</th>      
      <th>Estimated  &nbsp;</th>
      <th>Spent</th>
    <th>Ratio</th>
    </tr>
    <tr>
      <td style="width: 330px;">
      <strong><%= link_to @project.name, {:controller => "project", :action => "show" , :id => @project.id } %>
      </strong>
      </td>
      <td>
        <%= @total_done %>%
      </td>
      <td>
        <%= @total_estimate %>h
      </td>
      <td>
        <%= round_to(@total_spent) %>h
      </td>
      <% unit = (240/50).round.to_i %>
      <% if @total_estimate > 0 %>
        <% diff_percent =  ( round_to(@total_spent) / @total_estimate * 100).round.to_i  %>
      <% else %>
         <% diff_percent =  0  %>
      <% end %>
      <% difference = round_to(@total_estimate) - round_to(@total_spent) %>            
      <td>
      <table class="progress" style="width: 490px;">
        <tr>
          <% if diff_percent < 85 %>
            <% v1 =  (240 - ( difference * unit )).to_i %>
            <% v2 =  240 - v1 %>
            <td style="width: <%= v1 %>px;"><%=difference%></td>
            <td class="difference_pos" style="width: <%= v2 %>px; background-color: #33CC66;"></td>                                                                                   
            <td class="center" style="width: 1px"></td>
            <td style="width: 240px;">&nbsp;</td>
          <% elsif diff_percent < 115 %>
            <% if diff_percent < 100 %>
              <% v1 =  240 - ( difference * unit ) %>
              <% v2 =  240 - v1 %>
              <td style="width: <%= v1 %>px;" class="pos"><%=difference%> &nbsp;</td>
              <td class="difference_pos" style="width: <%= v2 %>px; background-color: #99FF00;"></td>                                                                                   
              <td class="center" style="width: 1px"></td>
              <td style="width: 240px;">&nbsp;</td>
            <% else %>              
              <td style="width: 240px;">&nbsp;</td>
              <% v1 =  ( difference * unit ) + 240  %>
              <% v2 =  240 - v1 %>                                                                                   
              <td class="center" style="width: 1px"></td>
              <td class="difference_neg" style="width: <%= v2 %>px; background-color: yellow;"></td>
              <td style="width: <%= v1 %>px;" class="neg">&nbsp; <%=round_to(difference)%></td>
            <% end %>
          <% elsif diff_percent < 999 %>
              <td style="width: 240px;">&nbsp;</td>
              <% v1 =  ( difference * unit ) + 240 %>
              <% v2 =  240 - v1 %>                                                                                   
              <td class="center" style="width: 1px"></td>
              <td class="difference_neg" style="width: <%= v2 %>px; background-color: red;"></td>
              <td style="width: <%= v1 %>px;" class="neg">&nbsp; <%=difference%></td>   
          <% else %>   
              <td style="width: 240px; background-color: silver;"></td>
              <td class="center" style="width: 1px"></td>
              <td class="difference_neg" style="width: 240px; background-color: silver;"></td>                             
          <% end %>
            <%= diff_percent %>% 
          </span>
        </tr>
      </table>
      
      </td>
    </tr>          
  </table>
</div>


<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'reflection', :plugin => 'redmine_estimate_reflection' %>
<% end %>